.cart-icon {
  height: 40px;
}
.cart-div {
  margin-left: auto;
}
.cart-Number {
  display: flex;
}
.shop-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
}
.nav-ul-right {
  align-items: center;
}
